<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <h4 class="card-title">Contacto</h4>
                        <div class="basic-form">
                            <form class="form-valide" action="/provider/{{providerId}}/contact/{{contactId}}" method="post" id="form" name="form">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="name">Nombre de Contacto
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="name"
                                               name="name" placeholder="Ingresar nombre de contacto..." onchange="validateInput('name')" value="{{contact.name}}">
                                        <div class="col-lg text-danger" id="name-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="email">Correo Electrónico
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" id="email"
                                               name="email" placeholder="Ingresar correo electrónico..." onchange="validateInput('email')" value="{{contact.email}}">
                                        <div class="col-lg text-danger" id="email-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="phoneNumber">Número Telefónico
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" id="phoneNumber"
                                               name="phoneNumber" placeholder="Ingresar número telefónico..." onchange="validateInput('phoneNumber')" value="{{contact.phoneNumber}}">
                                        <div class="col-lg text-danger" id="phoneNumber-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="button" class="btn btn-primary" id="buttonForm"
                                                name="buttonForm" onclick="validateForm()">Actualizar Contacto</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#buttonForm").on("click", function () {

        let isValidateForm = true;
        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let phoneNumber = document.getElementById('phoneNumber').value;

        if (name === '') {
            let brandNameValidate = document.getElementById('name-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (email === '') {
            let brandNameValidate = document.getElementById('email-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (phoneNumber === '') {
            let brandNameValidate = document.getElementById('phoneNumber-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (isValidateForm) {
            document.getElementById('form').submit();
        } else {
            toastr.warning("Algunos campos presentan errores en la información ingresada", "Errror en los Campos",
                    {
                        positionClass: "toast-top-right",
                        timeOut: 5e3,
                        closeButton: !0,
                        debug: !1,
                        newestOnTop: !0,
                        progressBar: !0,
                        preventDuplicates: !0,
                        onclick: null,
                        showDuration: "300",
                        hideDuration: "1000",
                        extendedTimeOut: "1000",
                        showEasing: "swing",
                        hideEasing: "linear",
                        showMethod: "fadeIn",
                        hideMethod: "fadeOut",
                        tapToDismiss: !1
                    }
            )
        }
    });

    function validateInput(inputId) {
        let input = document.getElementById(inputId).value;
        let inputToValidateValidate = document.getElementById(inputId + '-validate');
        if (input === '') {
            inputToValidateValidate.style.display = 'block';
        } else {
            inputToValidateValidate.style.display = 'none';
        }
    }
</script>