<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <h4 class="card-title">Proveedor</h4>
                        <div class="basic-form">
                            <form class="form-valide" action="/provider/{{provider.id}}" method="post" id="form" name="form">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="name">Nombre del Proveedor
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="name"
                                               name="name" placeholder="Ingresar nombre de Proveedor..." onchange="validateInput('name')" value="{{provider.name}}">
                                        <div class="col-lg text-danger" id="name-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="address">Dirección
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="address"
                                               name="address" placeholder="Ingresar dirección..." onchange="validateInput('address')" value="{{provider.address}}">
                                        <div class="col-lg text-danger" id="address-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="documentNumber">Número de Documento
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" id="documentNumber"
                                               name="documentNumber" placeholder="Ingresar numero de documento..." onchange="validateInput('documentNumber')" value="{{provider.documentNumber}}">
                                        <div class="col-lg text-danger" id="documentNumber-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="email">Correo Electrónico
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" id="email"
                                               name="email" placeholder="Ingresar correo electrónico..." onchange="validateInput('email')" value="{{provider.email}}">
                                        <div class="col-lg text-danger" id="email-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="phoneNumber">Número Telefónico
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" id="phoneNumber"
                                               name="phoneNumber" placeholder="Ingresar número telefónico..." onchange="validateInput('phoneNumber')" value="{{provider.phoneNumber}}">
                                        <div class="col-lg text-danger" id="phoneNumber-validate"
                                             style="display: none;">
                                            Éste campo no debe estar vacio
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="button" class="btn btn-primary" id="buttonForm"
                                                name="buttonForm" onclick="validateForm()">Actualizar Proveedor</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de Contactos</h4>
                    <div class="row">
                        <div class="col-lg-12 ml-auto">
                            <button type="button" class="btn btn-success" id="buttonForm"
                                    name="buttonForm" onclick="window.location.href='/provider/{{provider.id}}/create_new_contact';">Crear Nuevo Contacto</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                            <tr>
                                <th>Ver</th>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Correo Electrónico</th>
                                <th>Número Telefónico</th>
                                <th>Fecha Creación</th>
                                <th>Fecha Actualización</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each contactList}}
                                <tr>
                                    <td align="center"><a href="/provider/{{provider}}/contact/{{id}}"><img src="/icons/eye-svgrepo-com.svg" style="width: 40%" alt=""></a></td>
                                    <td>{{id}}</td>
                                    <td>{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{phoneNumber}}</td>
                                    <td>{{creationDate}}</td>
                                    <td>{{updateDate}}</td>
                                    <td>{{active}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Ver</th>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Correo Electrónico</th>
                                <th>Número Telefónico</th>
                                <th>Fecha Creación</th>
                                <th>Fecha Actualización</th>
                                <th>Estado</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $("#buttonForm").on("click", function () {

        let isValidateForm = true;
        let name = document.getElementById('name').value;
        let address = document.getElementById('address').value;
        let documentNumber = document.getElementById('documentNumber').value;
        let email = document.getElementById('email').value;
        let phoneNumber = document.getElementById('phoneNumber').value;

        if (name === '') {
            let brandNameValidate = document.getElementById('name-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (address === '') {
            let brandNameValidate = document.getElementById('address-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (documentNumber === '') {
            let brandNameValidate = document.getElementById('documentNumber-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (email === '') {
            let brandNameValidate = document.getElementById('email-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (phoneNumber === '') {
            let brandNameValidate = document.getElementById('phoneNumber-validate');
            brandNameValidate.style.display = 'block';
            isValidateForm = false;
        }

        if (isValidateForm) {
            document.getElementById('form').submit();
        } else {
            toastr.warning("Algunos campos presentan errores en la información ingresada", "Errror en los Campos",
                    {
                        positionClass: "toast-top-right",
                        timeOut: 5e3,
                        closeButton: !0,
                        debug: !1,
                        newestOnTop: !0,
                        progressBar: !0,
                        preventDuplicates: !0,
                        onclick: null,
                        showDuration: "300",
                        hideDuration: "1000",
                        extendedTimeOut: "1000",
                        showEasing: "swing",
                        hideEasing: "linear",
                        showMethod: "fadeIn",
                        hideMethod: "fadeOut",
                        tapToDismiss: !1
                    }
            )
        }
    });

    function validateInput(inputId) {
        let input = document.getElementById(inputId).value;
        let inputToValidateValidate = document.getElementById(inputId + '-validate');
        if (input === '') {
            inputToValidateValidate.style.display = 'block';
        } else {
            inputToValidateValidate.style.display = 'none';
        }
    }
</script>